<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.kittinunf.reactiveandroid"
    >

    <application>
        <activity android:name=".view.ViewAttachTestActivity"/>

        <activity android:name=".widget.AdapterViewTestActivity"/>

        <activity android:name=".widget.AutoCompleteTextViewTestActivity"/>

        <activity android:name=".widget.CalendarViewTestActivity"/>

        <activity android:name=".widget.DatePickerTestActivity"/>

        <activity android:name=".widget.PopupMenuTestActivity"/>

        <activity android:name=".widget.RatingBarTestActivity"/>
    </application>

</manifest>